<%= error_messages_for 'category' %>

<!--[form:category]-->
<p><label for="category_code">Code</label><br/>
<%= text_field 'category', 'code'  %></p>

<p><label for="category_description">Description</label><br/>
<%= text_field 'category', 'description'  %></p>

<p><label for="category_page">Page</label><br/>
<%= text_field 'category', 'page'  %></p>
<!--[eoform:category]-->

